name: Branch Name Check

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]

jobs:
  validate-branch-name:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - name: Validate head branch name
        run: bash scripts/validate-branch-name.sh "${{ github.head_ref }}"
